# intermediate files
make.log
*.bak
bin/.pakcs_variables
.curry

# tex temporary files
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.tpt
*.vrb
*.pdf
*.blg
*.idx
*.ilg
*.ind
*.tpt
*.synctex.gz
*.backup
*~

# intermediate files
stage[1,2,3]
*.bak
Installation.*
make.log
curry2prolog/pakcsversion.pl
docs/src/version.tex

# ignore front end since it is managed in another repository
mccparser

# binaries
*.state
bin/.makesavedstate
bin/.pakcs_wrapper
bin/makecurrycgi
bin/.local
bin/sicstusprolog
bin/swiprolog
bin/parsecurry
bin/pakcs
bin/addtypes
bin/currytest
bin/currycreatemake
bin/currydoc
bin/currybrowse
bin/dataToXml
bin/erd2curry
curry2prolog/prologbasics.pl
curry2prolog/libswi
frontend
www/submitform

# documentation
docs/src/manual.bbl
docs/src/lib
docs/src/markdown_syntax.tex
docs/markdown_syntax.html