# intermediate files
make.log
*.bak
pakcsinitrc
.curry

# tex temporary files
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.tpt
*.vrb
*.pdf
*.blg
*.idx
*.ilg
*.ind
*.tpt
*.synctex.gz
*.backup
*~

# intermediate files
*.bak
make.log
curry2prolog/pakcsversion.pl
docs/src/version.tex

# binaries
*.state
bin/.makesavedstate
bin/makecurrycgi
bin/cleancurry
bin/.local
bin/sicstusprolog
bin/swiprolog
bin/parsecurry
bin/pakcs
bin/addtypes
bin/cass
bin/currytest
bin/currycreatemake
bin/currydoc
bin/currybrowse
bin/dataToXml
bin/erd2curry
cpns/CPNS
curry2prolog/prologbasics.pl
curry2prolog/libswi
curry2prolog/pakcs
tools/Peval/peval
tools/check
tools/coosy/CoosyGUI
tools/curry2xml
tools/erd2curry/Main
tools/optimize/CompactFlat
tools/optimize/NonStrictOpt
tools/xmldata/dataToXml
www/Registry
www/SubmitForm
www/submitform

# documentation
docs/src/manual.bbl
docs/src/lib
docs/src/markdown_syntax.tex
docs/markdown_syntax.html
docs/INSTALL.html
docs/GITINSTALL.html
docs/RELNOTES.html
