/* Changes to default bootstrap style: */

body {
  padding-top: 0px;
  padding-bottom: 60px;
}

.hero-unit {
  padding: 20px 30px;
}

.hero-unit h1 {
  text-align: center;
}

/* function name in the documentation of a exported functions */
.opname {
  font-weight: bold;
}

/* style for explanation categories like "Constructors:" */
.explaincat {
  font-style: italic;
}

.keyword { color:blue }
.constructorname_constrpattern { color : #FF00FF }
.constructorname_constrcall { color : #FF00FF }
.constructorname_constrdecla { color : #FF00FF }
.constructorname_otherconstrkind { color : #FF00FF }
.typeconstructor_typedecla  { color : #ff7f50 }
.typeconstructor_typeuse  { color : #ff7f50 }
.typeconstructor_typeexport  { color : #ff7f50 }
.function_infixfunction  { color : #800080 }
.function_typsig  { color : #800080 }
.function_fundecl  { color : #800080 }
.function_functioncall  { color : #800080 }
.function_otherfunctionkind  { color : #800080 }
.moduleName  { color : #800000 }
.commentary  { color : green }
.numberCode  { color : #008080 }
.stringCode  { color : #800000 }
.charCode  { color : #800000 }
.symbol  { color : #666666 }
.identifier_iddecl   { color : black }
.identifier_idoccur   { color : black }
.identifier_unknownid   { color : black }
.codeWarning  {font-weight: bold;font-style:italic; color : red }
.codeError  { font-style:italic; color : #a52a2a }
.notParsed  { font-style:italic; color : #C0C0C0 }
