/* Changes to default bootstrap style: */

/* Use always white background */
body {
  background: white; color: black;
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  padding: 20px 30px;
}

.hero-unit h1 {
  text-align: center;
}

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}

.anchored {
  padding-top: 40px;
}

/* type name at header positions */
.typeheader {
  font-size: 24px;
  font-weight: bold;
}

/* function name in the documentation of a exported functions */
.opname {
  font-weight: bold;
}

/* style for constructor comments" */
.conscomment {
  padding: 5px 0px 0px 20px;
}

/* style for explanation categories like "Constructors:" */
.explaincat {
  font-style: italic;
}

/* specials for HTML source code: */

/* Show hyperlinks without underscore */
a:visited, a:link, a:active { text-decoration: none }

.linenumbers {
  width        : 40px;
  text-align   : right;
  color        : grey;
  padding-right: 10px;
  border-right : 1px solid grey;
}

.sourcecode  {
  padding-left: 10px;
}

.pragma  { color : green   }
.comment { color : green   }
.keyword { color : blue    }
.symbol  { color : #C0C0C0 }
.type    { color : #ff7f50 }
.cons    { color : #ff00ff }
.label   { color : #90EE90 }
.func    { color : #800080 }
.ident   { color : black   }
.module  { color : #800000 }
.number  { color : #008080 }
.string  { color : #800000 }
.char    { color : #800000 }
